@import "./../../main.module.scss";

.title {
  color: #17183B;
  text-align: center;
  font-family: "Open Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}

.horizontalAlign {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainDescription {
  color: #17183B;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.65625rem;
}

.buttonToHome {
  background-color: green;
  color: ghostwhite;
  padding: 6% 15%;
  white-space: nowrap;
  border: none;
}
.boldText {
  font-weight: bolder;
}

.confirmContainer {
  width: 30%;
  max-width: 1920px;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleConfirm {
  text-align: center;
  margin-top: 70px;
}
.bottomConfirm {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.orderDetailsBox {
  width: 100%;
  height: 360px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: auto;
  margin-bottom: 40px;

  p {
    margin: 0;
    text-align: center;
  }

  @include media(">tablet") {
    max-width: 830px;
  }
}
.padder {
  row-gap: 20px;
  column-gap: 20px;
  display: flex;
  flex-direction: column;
  padding: initial;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.subtableStyle {
  width: 300px;
  display: flex;
  flex-direction: row;
  column-gap: 60px;
}
.productList {
  display: flex;
  justify-content: center;
}
.productList > table > tr > th {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}
.bottomAdvices {
  display: flex;
  flex-direction: column;
}
.tableStyle {
  border: 1px solid black;
  max-width: 320px;
  @include media("<tablet") {
    width: 100%;
  }
}


.DinMunte{
  color: #058A46;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
}

.verificati_title{
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
}

.verificati_subtitle{
  color: #000;
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.65625rem;
  text-align: center;
}

.tickIcon{
  color: #058A46;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.tick{
  width: 80%;
}

.emailText{
  color: #01A455;
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
}

@media screen and (max-width: 1300px) {
  .confirmContainer {
    width: 60%;
  }
}

@media screen and (max-width: 992px) {
  .confirmContainer{
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .confirmContainer{
    width: 95%;
    margin-top: 15%;
  }
  .title {
    font-size: 1.6rem;
  }
  
  .verificati_title{
    font-size: 1.6rem;
  }
  .verificati_subtitle{
    font-weight: 500;
  }
  .tick{
    width: 60%;
  }
  .mainDescription{
    font-weight: 500;
  }
}