@import "./../main.module.scss";
@import "./../data//themes.scss";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

.HashLinkStyle {
  text-decoration: none;
  width: 100%;
  max-width: 1920px;
  margin: auto;
  color: #3a5a40;
}

.productParentContainer {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  text-decoration: none;
  color: #3a5a40;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  font-weight: 400;
  margin: auto;
  margin-top: 5%;
  max-width: 1920px;
  &:hover {
    color: black;
  }
}

.reviewStarRatings {
  display: flex;
  justify-content: center;
  align-items: center;
  // font-size: 18px;
}

.stars {
  padding-right: 5px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  padding-bottom: 20px;
  text-decoration: none;
  color: #3a5a40;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  font-weight: 400;
  &:hover {
    color: black;
  }
}

.singleProductContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-bottom: 8%;
  cursor: pointer;
}

.productImageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.productImage {
  // height: 100%;
  width: 90%;
  aspect-ratio: 3/4;
  border-radius: 4px;
  object-fit: cover;
  object-position: center top;
}

.productTitle {
  font-size: 20px;
  text-align: center;
}

.productTotalReviews {
  padding-top: 8px;
}

@media screen and (max-width: 992px) {
  .singleProductContainer {
    width: 50%;
  }
  .productTitle {
    font-size: 15px;
    text-align: center;
  }
  .productParentContainer {
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .singleProductContainer {
    height: 100%;
    min-width: 45%;
    margin-bottom: 4%;
  }
  .productTitle {
    font-size: 10px;
    text-align: center;
  }
  .productParentContainer {
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
  }
  .productImageContainer {
    height: 60%;
  }
}
