@import "./../main.module.scss";
@import "./../data//themes.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.content {
  max-width: 1992px;
  width: 100%;
  padding: 30px 8px;
  margin-top: 20px;
  // margin-bottom: 40px;
  margin: 2% auto;

  @include media(">=tablet", "<desktop") {
    padding: 30px 5%;
  }
}

// .headTitle {
//   text-align: center;
//   font-weight: bolder;
//   font-family: "Roboto";
//   text-transform: uppercase;
// }

.headTitle {
  color: #3A5A40;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 41px; 
}
.plainData {
  width: 100%;
  height: auto;
  word-wrap: break-word;
  flex-wrap: wrap;
  font-family: "Roboto";
}
