@import "../../../scss//abstracts/index";
.topNavBox_right {
  @include flex(center, space-evenly);
  flex: 1;
  @media screen and (max-width: 975px) {
    flex: 2;
  }
  @media screen and (max-width: 325px) {
    flex-wrap: wrap;
  }
}
.wrapper {
  flex: 1;
  @include flex(center, flex-end);
  @media screen and (max-width: 975px) {
    justify-content: space-evenly;
  }
  @media screen and (max-width: 325px) {
    order: 2;
    margin-top: 0.5rem;
    justify-content: space-between;
  }
}
/* Logout Button Styles */
.logoutButton {
  background-color: #ff4b4b; /* Red color for the logout button */
  color: #fff; /* White text */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-left: 1.5rem; /* Space between the profile section and logout button */

  @media screen and (max-width: 975px) {
    margin-left: 1rem; /* Adjust the margin for smaller screens */
  }

  &:hover {
    background-color: #e04343; /* Darker red on hover */
  }
}